---
import Card from '@components/ui/Card.astro';

const projects = [
	{
		url: "https://www.credly.com/badges/f2870ab4-63de-4698-9dc7-ae2ad5fd10d9/public_url",
		alt: "foo",
		title: "AWS",
		image: "https://s3.amazonaws.com/javiercarrillo.dev/public/aws-certified-solutions-architect-associate.webp",
		description: "Certified Solutions Architect - Associate",
	},
	{
		url: "https://www.credly.com/badges/e61b4dd9-4091-447a-ad6d-9ac6e02dc7bf/public_url",
		alt: "foo",
		title: "CKA",
		image: "https://s3.amazonaws.com/javiercarrillo.dev/public/cka-certified-kubernetes-administrator.webp",
		description: "Certified Kubernetes Administrator",
	},
	{
		url: "https://www.credly.com/badges/ef60b132-260d-447e-b10f-10050ab63d72/public_url",
		alt: "foo",
		title: "HashiCorp",
		image: "https://s3.amazonaws.com/javiercarrillo.dev/public/hashicorp-certified-terraform-associate-003.webp",
		description: "Certified Terraform Associate (003)",
	},
];
---

<section
	data-testid="certifications"
	id="certifications"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-montserrat mb-10 text-4xl text-sky-300 lg:text-6xl">certifications</h2>
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			projects.map((project) => (
				<Card
					url={project.url}
					title={project.title}
					image={project.image}
					description={project.description}
					alt={project.alt}
				/>
			))
		}
	</div>
	<a
		href="https://www.credly.com/users/javier-carrillo-massih"
		class="flex flex-row hover:text-sky-300 dark:text-white dark:hover:text-sky-300"
		aria-label="link to credly"
	>
		View full certificate list here
	</a>
</section>
